.row {
    display: flex;
    padding: 1em 0;
}

.column {
    display: flex-column;
    margin-right: 1em;
}
.column:last-child {
    margin-right: 0;
}

.column h3:first-child {
    margin-top: 0;
}

.detail {
	font-size: 0.8em;
}

table {
	width: 100%;
    font-size: 0.8em;
}