html {
    font-size: 14px;
}

.legend {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 1em;
    background: #f6f7d8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-style: italic;
}

table {
    margin-bottom: 5em;
}

.translated td:nth-child(2)::after {
    content: ' 🥝';
}
.colour-coded td:nth-child(2)::after {
    content: ' 🍬';
}
.translated.colour-coded td:nth-child(2)::after {
    content: ' 🍬🥝';
}
